body{
            font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei UI","Microsoft Yahei",SimHei,"\5888\4F53",simsum,sans-serif;
        }

.main{
	background: white;
}

.panel-heading{
	height:45px;
}

.progress{
	margin-bottom:5px;
}
h4{
	font-weight: bold;
}
.shadow{
	padding: 0;
	box-shadow: 10px 10px 5px #888888;
}
