<!DOCTYPE html>
<html lang="zh-CN">
<head>
{% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>{% block title %}title{% endblock %}</title>
    <!-- Bootstrap -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block style %}{% endblock %}
{% endblock %}
</head>
  <body>
  {% block nav %}
      <nav class="navbar navbar-default">
        <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href=" ">   </a>
        </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'homepage' %}"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-tasks"></span> 项目进度 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href=" "> 进度汇报</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href=" "> 学生项目进度</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href=" "> 其他项目进度</a></li>
                    </ul>
                </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-folder-open"></span> 项目管理 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'project-publish' %}"> 发布项目</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'project-list' %}"> 项目列表</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'project-msg' %}"> 项目申请通知</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'project-mine' %}"> 我的项目</a></li>


                    </ul>
                </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-briefcase"></span> 物品管理 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'good-list' %}"> 物品信息</a></li>
                        {% if user.is_superuser %}
                            <li role="separator" class="divider"></li>
                        <li><a href=" "> 物品申请通知</a></li>
                        {% endif %}

                        <li role="separator" class="divider"></li>
                        <li><a href="">物品申请</a></li>

                    </ul>
                </li>
            <li class=" "><a href="#"><span class="glyphicon glyphicon-user"></span>实验室成员</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-off"></span> 退出</a></li>
      </ul>
    </div>
  </div>
</nav>
  {% endblock %}
    {% block content %}{% endblock %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block script %}

    {% endblock %}
  </body>
</html>