{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %}
物品管理
{% endblock %}
{% block style %}
    <style>
        .table th, .table td {
        text-align: center;
        vertical-align: middle!important;
}
    .mytable{background-color: white;padding: 20px 0;margin-top: 30px;}


    </style>
{% endblock %}

{% block content %}
    <div class="mytable clearfix">
        <table class="table table-hover">
        {#    <caption>物品列表</caption>#}
            <thead>
                <tr>
                    <th>编号</th>
                    <th>物品</th>
                    <th>价格</th>
                    <th>数量</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for good in goods %}
                    <tr>
                        <td><a href="{% url 'good_detail' good.id %}">{{ good.id }}</a></td>
                        <td>{{ good.name }}</td>
                        <td>{{ good.price }}</td>
                        <td>{{ good.active_num }}/{{ good.all_num }}</td>

                        <td>
                            {% if user.is_superuser %}
                                <a href="javascript:void(0);"><span id="{{ good.id }}" class="del glyphicon glyphicon-trash"></span></a>
                                <a href="{% url 'edit_good' good.id %}"><span class="glyphicon glyphicon-edit"></span></a>
                            {% else %}
                                <a href="{% url 'good-reply' good.id %}">申请</a>
                        {% endif %}

                        </td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
            <nav class="nav pull-right">
              <ul class="pagination">
                  {% if goods.has_previous %}
                      <li>
                          <a href="?page={{ goods.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                          </a>
                      </li>
                  {% endif %}

                {%  for pg in goods.paginator.page_range %}
                    {% if goods.number == pg %}
                        <li class="active"><a href="?page={{ pg }}">{{ pg }}</a></li>
                    {% else %}
                        <li><a href="?page={{ pg }}">{{ pg }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if goods.has_next %}
                    <li>
                      <a href="?page={{ goods.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                    {% endif %}
              </ul>
            </nav>
    </div>
{% endblock %}

{% block script %}
        <script>
        $(document).ready(function () {
            $(".del").click(function () {
                if(!confirm("确认删除吗？")){
                    return false;
                }
                var self = this;
                var goodid = $(this).attr("id");
                $.post("{% url 'del_good' %}",{'id':goodid},function () {
                    $(self).parent().parent().parent().remove()
                });
            });
        });
        </script>
    {% endblock %}
