{% extends 'base.html' %}

{% block content %}

    {% if user.is_authenticated %}
        你好啊,{{ user.username }},你是
        {% for group in user.groups.all %}
            {{ group.name }}
        {% endfor %}
        <a href="{% url 'logout' %}">退出登录</a>
    {% else %}
        你好啊，陌生人<a href="{% url 'login' %}">点击登录</a>
    {% endif %}

<div>
    <ul>
        <li><a href="{% url 'good' %}">物品管理</a></li>
        <li><a href="{% url 'money' %}">财产管理</a></li>
        <li><a href="">人员管理</a></li>

        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
{% endblock %}
