{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block title %}
发布项目
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <style>
    .error{
        color: red;
        font-weight: normal;
    }
    body{background-color: white}
    </style>
{% endblock %}


{% block content %}
    <div class="col-md-8 col-md-offset-2">
        <form action="" method="post" role="form" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button class="btn btn-default" type="submit">发布项目！</button>
        </form>
        </div>
{% endblock %}
{% block script %}
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/jquery.validate.js' %}"></script>
    <script src="{% static 'js/messages_zh.js' %}"></script>
    <script>
  $(function() {
    $("#id_start_t,#id_end_t").datepicker({dateFormat: "yy-mm-dd"});
    $(".form").validate({
        rules:{
            name:{
                required:true
            },
            introduction:{
                required:true
            },
            start_t:{
                required:true,
                dateISO:true
            },
            end_t:{
                required:true,
                dateISO:true
            }
        }
    })
  });
    </script>
{% endblock %}