{% extends 'base.html' %}
{% block title %}
{{ project.name }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4 ">
            <p>项目名称： </p>
            <p>{{ project.name }}</p>
            <p>项目介绍</p>
            <p>{{ project.introduction }}</p>
            <p>项目参与人员</p>
            {% for u in project.users.all %}
                <span>|<a href="{% url 'user-detail' u.id %}">{{ u.name }}</a>|</span>
            {% endfor %}

        </div>
    </div>
{% endblock %}