{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
项目进度
{% endblock %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/home_page.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="main">
    <div class="tab1">

        <!--消息通知-->
        <div class="info panel panel-default col-md-5 col-md-offset-1">  
            <div class="panel panel-heading">  
                <h4 class="panel-title">  
                    <span class="title">消息通知</span>
                    <span class="more"><a href=""><span class="glyphicon glyphicon-hand-right"></span> 更多</a></span>
                </h4> 
            </div>
            <div class="panel-body" style="line-height:40px; ">  
                <div class="col-sm-12 left-menu"><span class="glyphicon glyphicon-paperclip"> </span> </div>
                <div class="col-sm-12 left-menu"><span class="glyphicon glyphicon-paperclip"> </span> </div>
                <div class="col-sm-12 left-menu"><span class="glyphicon glyphicon-paperclip"> </span> </div>
                <div class="col-sm-12 left-menu"><span class="glyphicon glyphicon-paperclip"> </span> </div>
            </div>
        </div>
        <!--个人信息-->
        <div class="personal_info panel panel-default col-md-5">
            <div class="panel panel-heading">  
                <h4 class="panel-title">  
                    <span class="title">个人信息</span>
                    <span class="more"><a href=""><span class="glyphicon glyphicon-hand-right"></span> 更多</a></span>
                </h4> 
            </div>
            <div class="panel-body">  
                <div class="col-sm-6">
                    <p>学院：</p>
                    <p>姓名：</p>
                    <p>工号：</p>
                    <p>教师级别：</p>
                    <p>科研成果：</p>
                </div>
                <div class="picture col-sm-6">
                    <img src="" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="tab2">
        <!--项目进度-->
        <div class="col-md-10 col-md-offset-1">
            <table class="table table-responsive table-striped">
                <thead>
                    <tr>
                        <th class="tab2-title">项目名称</th>
                        <th class="tab2-title">项目进度
                            <span class="more"><a href=""><span class="glyphicon glyphicon-hand-right"></span> 更多</a></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>项目一</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width:20%">20%</div>  
                            </div>                  
                        </td>
                    </tr>
                    <tr>
                        <td>项目二</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"   style="width:70%">70%</div>
                            </div>                  
                        </td>
                    </tr>
                    <tr>
                        <td>项目三</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" style="width:15%">15%</div>  
                            </div>                  
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="tab3">
            <!--物品信息-->
            <div class="things col-md-6 col-md-offset-1">
                <h4>物品信息
                    <span class="more"><a href=""><span class="glyphicon glyphicon-hand-right"></span> 更多</a></span>
                </h4>
                <table class="table table-responsive ">
                <thead>
                    <tr>
                        <th>物品名称</th>
                        <th>物品位置</th>
                        <th>是否可借</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>物品一</td>
                        <td> 实验室一</td>
                        <td> 是</td>
                    </tr>
                    <tr>
                        <td>物品二</td>
                        <td> 实验室一</td>
                        <td> 否</td>
                    </tr>
                    <tr>
                        <td>物品三</td>
                        <td> 实验室一</td>
                        <td> 否</td>
                    </tr>
                    <tr>
                        <td>物品四</td>
                        <td> 实验室一</td>
                        <td> 是</td>
                    </tr>
                </tbody>
            </table>
            </div>

            <!--经费使用-->
            <div class="money col-md-4">
                <br/>
                <br/>
                <h4>经费使用
                    <span class="more"><a href=""><span class="glyphicon glyphicon-hand-right"></span> 更多</a></span>
                </h4>
                <br/>
                <br/>
                <div class="row col-md-offset-1">
                    <p><span class="glyphicon glyphicon-play"></span> 总经费消耗：</p>
                </div>
                <br/>
                <div class="row col-md-offset-1">
                    <p><span class="glyphicon glyphicon-play"></span> 剩余经费：</p>
                </div>
            </div>
        </div>
</div>
{% endblock %}
